/* common styling for all elements */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* styling the body */
  body{
    width: 100vw;
    margin-top: 10px;
    overflow-x: hidden;
  }

/* styling the main container using grid */
  #main-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }

/* common styling for hero and villain grid*/
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

/* styling the hero grid */
  #hero-grid{
    justify-content: right;
    justify-items: right;
  }

/* styling the villain grid */
  #villain-grid{
    justify-content: left;
    justify-items: left;
  }

/* Styling the character cards */
  .game-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px, rgb(209, 213, 219) 0px 0px 0px 2px inset;
    padding: 20px;
    border-radius: 10px;
    height: 260px;
    text-align: center;

  }

  h4{
    font-size: 18px;
    margin-top: 5px;
  }

  h2{
    font-size: 50px;
    font-weight: 400;
    margin-top: 5px;
  }

/* Styling the score div and its contents */
  #score-div{
    height: auto;
    width: 22vw;
    text-align: center;
  }

  h3{
    font-size: 50px;
    font-weight: 500;
  }

/* styling the footer */
  .footer{
    margin: 100px 0px 20px 80px;
    font-size : 18px;
  }


/* Making the webpage responsive */

  /* Media Queries for Tablet */
@media screen and (max-width: 800px) {
  body{
    width: 100vw;
  }

  #main-container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

  #hero-grid{
    grid-template-columns: repeat(1, 1fr);
    justify-content: right; 
    justify-items: right;
  }

  #villain-grid{
    grid-template-columns: repeat(1, 1fr);
    justify-content: left; 
    justify-items: left;
  }

  #score-div{
    height: auto;
    width: 20vw;
  }

  .game-card {
    height: auto;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 36px;
  }

  .footer {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
}

/* Media query for mobile screen */
@media screen and (max-width: 500px) {
  body{
    width: 100vw;
  }

  #main-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; 
    width: 100%;
  }

  #hero-grid, #villain-grid {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; 
    justify-items: center;
  }

  #score-div{
    width: 100%;
    text-align: center;
    margin: 8vh 0 8vh 0;
  }

  .game-card {
    height: auto;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 36px;
    font-weight: 600;
  }

  .footer {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
}